<section>
  <h3><strong>OUR SERVICES</strong></h3>
  <div style="grid-area: one">
    <img src="./../../../../../assets/construction/service_img1.jpg" alt="" />
    <p class="title"><strong>CONSTRUCTION MANAGEMENT</strong></p>
    <p>
      Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut
      fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem
      sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit
      amet, consectetur, adipisci velit.
    </p>
    <button>KNOW MORE</button>
  </div>
  <div style="grid-area: two">
    <img src="./../../../../../assets/construction/service_img2.jpg" alt="" />
    <p class="title"><strong>RENOVATION</strong></p>
    <p>
      Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut
      fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem
      sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit
      amet, consectetur, adipisci velit.
    </p>
    <button>KNOW MORE</button>
  </div>
  <div style="grid-area: three">
    <img src="./../../../../../assets/construction/service_img3.jpg" alt="" />
    <p class="title"><strong>ARCHITECTURE</strong></p>
    <p>
      Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut
      fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem
      sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit
      amet, consectetur, adipisci velit.
    </p>
    <button>KNOW MORE</button>
  </div>
</section>
