<section>
  <h3 style="grid-area: title">CONTACT US</h3>
  <p class="body">
    Etiam elementum laoreet mauris. Ut rutrum feugiat neque. Suspendisse viverra
    gravida nulla. Duis sed enim vitae metus nonummy venenatis.
  </p>
  <div class="one">
    <h4>OUR ADDRESS</h4>
    <p><fa-icon [icon]="faPhone"></fa-icon>090-080-0980</p>
    <p class="accented"><fa-icon [icon]="faEnvelope"></fa-icon>info@company.com</p>
    <p class="accented"><fa-icon [icon]="faGlobe"></fa-icon>http://www.company.com</p>
    <p><fa-icon [icon]="faMapMarker"></fa-icon>360 Aenean Quis Semper, Maecenas 10450</p>
  </div>
  <div class="two">
    <form>
      <input class="name" type="text" placeholder="Name" />
      <input class="email" type="text" placeholder="Email" />
      <textarea rows="6" placeholder="Message"></textarea>
      <button>Send Message</button>
    </form>
  </div>
</section>
