<section>
  <div class="one">
    <img src="./../../../../../assets/interact/about.jpg" alt="" />
  </div>
  <div class="two">
    <h3>ABOUT US</h3>
    <p class="about-us-body">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Error quis culpa
      molestiae consequatur et itaque corrupti rem porro praesentium unde quae
      perspiciatis fugit dolore natus voluptas nemo accusantium sequi omnis
      tenetur eum, consectetur vel illo. Eaque quia sunt, delectus corrupti
      neque, eum, quisquam iusto aut vero doloremque quasi temporibus sint.
    </p>
    <p class="why-us">Why Choose Us?</p>
    <ul>
      <li style="grid-area: one">Lorem ipsum dolor</li>
      <li style="grid-area: two">Tempor incididunt</li>
      <li style="grid-area: three">Lorem ipsum dolor</li>
      <li style="grid-area: four">Incididunt ut labore</li>
      <li style="grid-area: five">Aliquip ex ea commodo</li>
      <li style="grid-area: six">Lorem ipsum dolor</li>
      <li style="grid-area: seven">Exercitation ullamco</li>
      <li style="grid-area: eight">Lorem ipsum dolor</li>
    </ul>
  </div>
</section>
