<section>
  <h3>MEET THE TEAM</h3>
  <div style="grid-area: one" class="content">
    <img src="./../../../../../assets/interact/team/01.jpg" alt="" />
    <p class="name">John Doe</p>
    <p>Director</p>
  </div>
  <div style="grid-area: two" class="content">
    <img src="./../../../../../assets/interact/team/02.jpg" alt="" />
    <p class="name">Mike Doe</p>
    <p>Senior Designer</p>
  </div>
  <div style="grid-area: three" class="content">
    <img src="./../../../../../assets/interact/team/03.jpg" alt="" />
    <p class="name">Jane Doe</p>
    <p>Senior Designer</p>
  </div>
  <div style="grid-area: four" class="content">
    <img src="./../../../../../assets/interact/team/04.jpg" alt="" />
    <p class="name">Karen Doe</p>
    <p>Project Manager</p>
  </div>
</section>
