<section>
  <h3 style="grid-area: title">OUR WORKSTATIONS</h3>
  <div style="grid-area: one" class="content">
    <img src="./../../../../../assets/ubutia/4.jpg" alt="" />
    <h4>CREATIVE BUSINESS CUP</h4>
    <p>
      Placeat quia facere accusamus provident, iusto fuga dolores obcaecati
      maxime nulla dolorem quaerat aperiam repudiandae reiciendis neque.
    </p>
  </div>
  <div style="grid-area: two" class="content">
    <img src="./../../../../../assets/ubutia/5.jpg" alt="" />
    <h4>CREATIVE COVER DESIGN</h4>
    <p>
      Non temporibus eaque autem amet quibusdam beatae ex tempore voluptas
      molestiae voluptates! Officia impedit aspernatur ut hic.
    </p>
  </div>
  <div style="grid-area: three" class="content">
    <img src="./../../../../../assets/ubutia/6.jpg" alt="" />
    <h4>CREATIVE NAMECARDS</h4>
    <p>
      Facilis modi ducimus pariatur, dicta id ipsum corrupti tempora laborum
      reprehenderit dolores atque, temporibus earum ratione voluptatibus.
    </p>
  </div>
</section>
