<section>
    <h2 style="grid-area: title">OUR PRICING</h2>
    <p class="body">
      A 30 days free trial for all. A brief story about how this process works, keep an eye till the end.
    </p>
    <div class="content" style="grid-area: one">
      <div class="gray">
        <h4>STARTER</h4>
        <div class="circle">
          <h2>$19</h2>
          <p>per month</p>
        </div>
      </div>
      <div class="light-gray">
        <p class="text">Competition Analysis Methods</p>
        <p class="text">All Ranked URLs</p>
        <p class="text">International Support System</p>
        <p class="text">Social Media Tracking</p>
        <button>CHOOSE PLAN</button>
      </div>
    </div>
    <div class="content highlighted" style="grid-area: two">
      <div class="gray">
        <h4>PREMIUM</h4>
        <div class="circle">
          <h2>$39</h2>
          <p>per month</p>
        </div>
      </div>
      <div class="light-gray">
        <p class="text">Competition Analysis Methods</p>
        <p class="text">All Ranked URLs</p>
        <p class="text">International Support System</p>
        <p class="text">Social Media Tracking</p>
        <button>CHOOSE PLAN</button>
      </div>
    </div>
    <div class="content" style="grid-area: three">
      <div class="gray">
        <h4>BUSINESS</h4>
        <div class="circle">
          <h2>$99</h2>
          <p>per month</p>
        </div>
      </div>
      <div class="light-gray">
        <p class="text">Competition Analysis Methods</p>
        <p class="text">All Ranked URLs</p>
        <p class="text">International Support System</p>
        <p class="text">Social Media Tracking</p>
        <button>CHOOSE PLAN</button>
      </div>
    </div>
  </section>
  