<section>
  <h3><strong>CUSTOMER REVIEWS</strong></h3>
  <div class="content" style="grid-area: one">
    <p class="testimonial">
      Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut
      fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem
      sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit
      amet, consectetur, adipisci velit.
    </p>
    <img src="./../../../../../assets/construction/testimonial_img2.png" alt="">
    <p><strong>JOHN SMITH</strong></p>
  </div>
  <div class="content" style="grid-area: two">
    <p class="testimonial">
      Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut
      fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem
      sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit
      amet, consectetur, adipisci velit.
    </p>
    <img src="./../../../../../assets/construction/testimonial_img2.png" alt="">
    <p><strong>JOHN SMITH</strong></p>
  </div>
  <div class="content" style="grid-area: three">
    <p class="testimonial">
      Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut
      fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem
      sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit
      amet, consectetur, adipisci velit.
    </p>
    <img src="./../../../../../assets/construction/testimonial_img2.png" alt="">
    <p><strong>JOHN SMITH</strong></p>
  </div>
</section>
