<section>
  <div class="one">
    <div>
      <img src="./../../../../../assets/sports/graph-04.svg" alt="" />
      <p class="title"><strong>Riding Mountain Bike</strong></p>
      <p class="body">
        Alias animi deserunt suscipit nisi, aliquam consequuntur itaque natus
        aut nihil in aspernatur ullam, rerum facilis. Eaque voluptate soluta
        libero. Assumenda, dolore. Suscipit accusantium distinctio, asperiores
        maxime impedit aspernatur.
      </p>
    </div>
    <div>
      <img src="./../../../../../assets/sports/graph-03.svg" alt="" />
      <p class="title"><strong>Volley Ball Intense Training</strong></p>
      <p class="body">
        Provident facilis obcaecati quasi earum omnis animi autem aperiam saepe.
        Quam molestiae blanditiis modi totam odio non voluptate velit, aperiam
        repellat numquam delectus sit tempora.
      </p>
    </div>
    <div>
      <img src="./../../../../../assets/sports/graph-02.svg" alt="" />
      <p class="title"><strong>Learn Surfing From Experts</strong></p>
      <p class="body">
        Eligendi numquam, labore, corporis harum quod excepturi incidunt.
        Reprehenderit expedita id corporis sed libero nisi nobis neque ad,
        voluptatibus doloribus minima quod quam. Facilis.
      </p>
    </div>
    <div>
      <img src="./../../../../../assets/sports/graph-01.svg" alt="" />
      <p class="title"><strong>Archers Club</strong></p>
      <p class="body">
        Asperiores veniam laborum, itaque velit. Nesciunt optio soluta provident
        magnam. Voluptates sapiente tenetur minima quia, dolor ad perspiciatis
        earum aperiam aut beatae in.
      </p>
    </div>
  </div>
  <div class="two">
    <img src="./../../../../../assets/sports/img-01.png" alt="" />
  </div>
</section>
