<section>
  <h2 class="main-title">PRICING PLANS</h2>
  <div class="content" style="grid-area: one">
    <p class="title">STUDENTS</p>
    <div class="price-div">
      <h2 class="price">$8</h2>
      <p class="per-month">per month</p>
    </div>
    <div class="text-div">
      <p class="text">Personal License</p>
    </div>
    <button>PURCHASE</button>
  </div>
  <div class="content" style="grid-area: two">
    <p class="title">PROFESSIONAL</p>
    <div class="price-div">
      <h2 class="price">$19</h2>
      <p class="per-month">per month</p>
    </div>
    <div class="text-div">
      <p class="text">Professional License</p>
      <p class="text">Email Support</p>
    </div>
    <button>PURCHASE</button>
  </div>
  <div class="content highlighted" style="grid-area: three">
    <p class="title">AGENCY</p>
    <div class="price-div">
      <h2 class="price">$49</h2>
      <p class="per-month">per month</p>
    </div>
    <div class="text-div">
      <p class="text">1-12 Team Members</p>
      <p class="text">Phone Support</p>
    </div>
    <button>PURCHASE</button>
  </div>
  <div class="content" style="grid-area: four">
    <p class="title">ENTERPRISE</p>
    <div class="price-div">
      <h2 class="price">$79</h2>
      <p class="per-month">per month</p>
    </div>
    <div class="text-div">
      <p class="text">Unlimited Team Members</p>
      <p class="text">24/7 Phone Support</p>
    </div>
    <button>PURCHASE</button>
  </div>
</section>
