<section>
  <h2>OUR PARTNERS</h2>
  <p class="sub-title">Lorem ipsum dolor sit amet consectetur.</p>
  <img
    style="grid-area: one-image"
    src="./../../../../../assets/agency/logos/creative-market.jpg"
    alt=""
  />
  <img
    style="grid-area: two-image"
    src="./../../../../../assets/agency/logos/designmodo.jpg"
    alt=""
  />
  <img
    style="grid-area: three-image"
    src="./../../../../../assets/agency/logos/envato.jpg"
    alt=""
  />
  <img
    style="grid-area: four-image"
    src="./../../../../../assets/agency/logos/themeforest.jpg"
    alt=""
  />
</section>
