<section>
  <h2>SERVICES</h2>
  <p class="sub-title">Lorem ipsum dolor sit amet consectetur.</p>
  <div style="grid-area: one">
    <div class="fa-bg">
      <fa-icon class="fa" [icon]="faShoppingCart"></fa-icon>
    </div>
    <p class="title"><strong>E-Commerce</strong></p>
    <p>
      Cum sociis natoque penatibus et magnis dis parturient montes. Etiam
      elementum laoreet mauris. Ut rutrum feugiat neque.
    </p>
  </div>
  <div style="grid-area: two">
    <div class="fa-bg">
      <fa-icon class="fa" [icon]="faLaptop"></fa-icon>
    </div>
    <p class="title"><strong>Responsive Design</strong></p>
    <p>
      Etiam elementum laoreet mauris. Ut rutrum feugiat neque. Cum sociis
      natoque penatibus et magnis dis parturient montes.
    </p>
  </div>
  <div style="grid-area: three">
    <div class="fa-bg">
      <fa-icon class="fa" [icon]="faLock"></fa-icon>
    </div>
    <p class="title"><strong>Web Security</strong></p>
    <p>
      Ut rutrum feugiat neque. Etiam elementum laoreet mauris. Cum sociis
      natoque penatibus et magnis dis parturient montes.
    </p>
  </div>
</section>
