<section class="timeline">
  <div class="title-div">
    <h2>OUR AMAZING TEAM</h2>
    <p>Lorem ipsum dolor sit amet consectetur.</p>
  </div>
  <ul>
    <li style="grid-area: one" class=".first-li">
      <h4><strong>2009-2011</strong></h4>
      <h4><strong>Our Humble Beginnings</strong></h4>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat sit
        numquam aperiam. Accusantium reiciendis vitae voluptates, labore optio,
        nisi quod reprehenderit temporibus molestiae, commodi libero quae
        tempora. Culpa, autem maiores.
      </p>
      <img class="img-one" src="./../../../../../assets/agency/about/1.jpg" alt="" />
    </li>
    <li style="grid-area: two">
      <h4><strong>MARCH 2011</strong></h4>
      <h4><strong>An Agency is Born</strong></h4>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat sit
        numquam aperiam. Accusantium reiciendis vitae voluptates, labore optio,
        nisi quod reprehenderit temporibus molestiae, commodi libero quae
        tempora. Culpa, autem maiores.
      </p>
      <img class="img-two" src="./../../../../../assets/agency/about/2.jpg" alt="" />
    </li>
    <li style="grid-area: three">
      <h4><strong>DECEMBER 2012</strong></h4>
      <h4><strong>Transition to Full Service</strong></h4>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat sit
        numquam aperiam. Accusantium reiciendis vitae voluptates, labore optio,
        nisi quod reprehenderit temporibus molestiae, commodi libero quae
        tempora. Culpa, autem maiores.
      </p>
      <img class="img-three" src="./../../../../../assets/agency/about/3.jpg" alt="" />
    </li>
    <li style="grid-area: four">
      <h4><strong>JULY 2014</strong></h4>
      <h4><strong>Phase Two Expansion</strong></h4>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat sit
        numquam aperiam. Accusantium reiciendis vitae voluptates, labore optio,
        nisi quod reprehenderit temporibus molestiae, commodi libero quae
        tempora. Culpa, autem maiores.
      </p>
      <img class="img-four" src="./../../../../../assets/agency/about/4.jpg" alt="" />
    </li>
    <li style="grid-area: five" class="last">
      <div>
        <p><strong>BE PART OF OUR STORY!</strong></p>
      </div>
    </li>
    <div style="clear: both"></div>
  </ul>
</section>
