<section>
  <h2 style="grid-area: title">OUR BLOG</h2>
  <p class="body">
    Suspendisse sed eros mollis, tincidunt felis eget, interdum eratullam sit
    amet odio.
  </p>
  <img
    style="grid-area: one"
    src="./../../../../../assets/bino/blog1.jpg"
    alt=""
  />
  <div class="card" style="grid-area: two">
    <h3>Modern</h3>
    <p>
      Reprehenderit ipsam fuga voluptatem fugit? Hic ex illo recusandae
      molestias quis cumque repellat, possimus maiores aut at rerum ullam alias
      omnis. Non voluptate necessitatibus laudantium officiis itaque maiores
      vitae vel cupiditate cumque aspernatur labore repellendus, assumenda alias
      nihil qui, incidunt, nostrum eveniet.
    </p>
  </div>
  <img
    style="grid-area: three"
    src="./../../../../../assets/bino/blog2.jpg"
    alt=""
  />
  <div class="card" style="grid-area: four">
    <h3>Design</h3>
    <p>
      Magnam qui reprehenderit vitae ea aliquid vero perspiciatis quis provident
      tempora quam odio repudiandae aliquam incidunt ut aperiam dolor aut quia
      ipsa explicabo praesentium facere, maiores libero illum dicta. Sapiente
      sunt est deleniti, adipisci necessitatibus quam illo debitis, ut nesciunt
      totam optio.
    </p>
  </div>
  <div class="card" style="grid-area: five">
    <h3>Retro</h3>
    <p>
      Corrupti velit atque obcaecati nemo dolor officiis est rerum ex omnis
      maiores inventore quibusdam veritatis culpa molestiae quos similique
      consequuntur numquam, dolores libero recusandae magni provident nihil
      voluptatem quaerat. Sint vitae dolore necessitatibus magnam, adipisci
      consequatur fugiat magni vero doloribus, laboriosam impedit.
    </p>
  </div>
  <img
    style="grid-area: six"
    src="./../../../../../assets/bino/blog3.jpg"
    alt=""
  />
  <div class="card" style="grid-area: seven">
    <h3>Style</h3>
    <p>
      Soluta maiores tempora, nisi, dolorem accusamus nihil, enim saepe nemo
      quia adipisci aliquam eos voluptatem excepturi rem. Eos commodi magni
      perferendis iusto in aut molestias expedita rerum reprehenderit. Iure sint
      neque iusto non culpa dolor nulla magnam nesciunt totam. Autem, modi
      error.
    </p>
  </div>
  <img
    style="grid-area: eight"
    src="./../../../../../assets/bino/blog4.jpg"
    alt=""
  />
</section>
