@import url("https://fonts.googleapis.com/css?family=Raleway:400,900|Lora:400i");

* {
  font-family: "Raleway", cursive;
}

h1 {
  font-family: "Raleway", cursive;
  font-size: 3rem;
  letter-spacing: 2px;

  @media screen and (min-width: 768px) {
    font-size: 3rem;
  }

  @media (min-width: 1280px) {
    font-size: 3rem;
  }

  @media (min-width: 1680px) {
    font-size: 3rem;
  }
}

h2 {
  font-size: 2.4rem;
  letter-spacing: 2px;

  @media screen and (min-width: 768px) {
    font-size: 2.6rem;
  }

  @media (min-width: 1280px) {
    font-size: 2.8rem;
  }

  @media (min-width: 1680px) {
    font-size: 3rem;
  }
}

h3 {
  color: #424242;
  font-weight: 900;
  font-size: 1.8rem;
  letter-spacing: 2px;

  @media screen and (min-width: 768px) {
    font-size: 1.9rem;
  }

  @media (min-width: 1280px) {
    font-size: 2rem;
  }

  @media (min-width: 1680px) {
    font-size: 2.1rem;
  }
}

h4 {
  color: #424242;
  font-weight: 900;
  font-size: 1.1rem;
  letter-spacing: 2px;

  @media screen and (min-width: 768px) {
    font-size: 1.1rem;
  }

  @media (min-width: 1280px) {
    font-size: 1.2rem;
  }

  @media (min-width: 1680px) {
    font-size: 1.3rem;
  }
}

p {
  font-family: "Lora" !important;
  color: #818181;
  font-size: 1rem;
  line-height: 25px;
}