<section>
  <div class="one">
    <h3>GET IN TOUCH</h3>
    <form>
      <input class="name" type="text" placeholder="Name" />
      <input class="email" type="text" placeholder="Email" />
      <textarea rows="6" placeholder="Message"></textarea>
      <button>SEND MESSAGE</button>
    </form>
  </div>
  <div class="two">
    <h4>Contact Info</h4>
    <p class="highlighted">Address</p>
    <p class="body">4321 California St,</p>
    <p class="body">San Francisco, CA 12345</p>
    <p class="highlighted">Phone</p>
    <p class="body">+1 123 456 1234</p>
    <p class="highlighted">Email</p>
    <p class="body">info@company.com</p>
  </div>
</section>
