<section>
  <h3 style="grid-area: title">PORTFOLIO</h3>
  <p class="body">
    Etiam elementum laoreet mauris. Ut rutrum feugiat neque. Suspendisse viverra
    gravida nulla. Duis sed enim vitae metus nonummy venenatis. Curabitur semper
    rutrum sapien. Mauris luctus.
  </p>
  <img
    style="grid-area: one"
    src="./../../../../../assets/composite/p1.jpg"
    alt=""
  />
  <img
    style="grid-area: two"
    src="./../../../../../assets/composite/p2.jpg"
    alt=""
  />
  <img
    style="grid-area: three"
    src="./../../../../../assets/composite/p3.jpg"
    alt=""
  />
  <img
    style="grid-area: four"
    src="./../../../../../assets/composite/p4.jpg"
    alt=""
  />
  <img
    style="grid-area: five"
    src="./../../../../../assets/composite/p5.jpg"
    alt=""
  />
  <img
    style="grid-area: six"
    src="./../../../../../assets/composite/p6.jpg"
    alt=""
  />
  <img
    style="grid-area: seven"
    src="./../../../../../assets/composite/p7.jpg"
    alt=""
  />
  <img
    style="grid-area: eight"
    src="./../../../../../assets/composite/p8.jpg"
    alt=""
  />
</section>
