<section>
  <h3 style="grid-area: title">OUR TEAM</h3>
  <div style="grid-area: one" class="content">
    <img src="./../../../../../assets/ubutia/8.jpg" alt="" />
    <h4>ROSA LY</h4>
    <p>
      Placeat quia facere accusamus provident, iusto fuga dolores obcaecati
      maxime nulla dolorem quaerat aperiam repudiandae reiciendis neque.
    </p>
    <div class="social">
      <div class="fa-bg">
        <fa-icon class="fa" [icon]="faFacebookF"></fa-icon>
      </div>
      <div class="fa-bg">
        <fa-icon class="fa" [icon]="faTwitter"></fa-icon>
      </div>
    </div>
  </div>
  <div style="grid-area: two" class="content">
    <img src="./../../../../../assets/ubutia/9.jpg" alt="" />
    <h4>EVA LY</h4>
    <p>
      Non temporibus eaque autem amet quibusdam beatae ex tempore voluptas
      molestiae voluptates! Officia impedit aspernatur ut hic.
    </p>
    <div class="social">
      <div class="fa-bg">
        <fa-icon class="fa" [icon]="faFacebookF"></fa-icon>
      </div>
      <div class="fa-bg">
        <fa-icon class="fa" [icon]="faTwitter"></fa-icon>
      </div>
    </div>
  </div>
  <div style="grid-area: three" class="content">
    <img src="./../../../../../assets/ubutia/10.jpg" alt="" />
    <h4>GRAHAM BILL</h4>
    <p>
      Facilis modi ducimus pariatur, dicta id ipsum corrupti tempora laborum
      reprehenderit dolores atque, temporibus earum ratione.
    </p>
    <div class="social">
      <div class="fa-bg">
        <fa-icon class="fa" [icon]="faFacebookF"></fa-icon>
      </div>
      <div class="fa-bg">
        <fa-icon class="fa" [icon]="faTwitter"></fa-icon>
      </div>
    </div>
  </div>
</section>
