<footer>
  <div class="logo-div">
    <img src="./../../../../../assets/sports/logo-footer.png" alt="" />
    <div class="btn-div">
      <button>Start Training Now</button>
      <p>Every day is a challenge, change your life now.</p>
    </div>
  </div>
  <div class="address-social">
    <div style="grid-area:  address">
      <p><strong>We live your galaxy</strong></p>
      <p>15 New Street, Badass Suite, Greyland, Wetworld.</p>
    </div>
    <div class="social">
      <div class="fa-div">
        <fa-icon class="fa" [icon]="faFacebookF"></fa-icon>
      </div>
      <div class="fa-div">
        <fa-icon class="fa" [icon]="faTwitter"></fa-icon>
      </div>
      <div class="fa-div">
        <fa-icon class="fa" [icon]="faYoutube"></fa-icon>
      </div>
      <div class="fa-div">
        <fa-icon class="fa" [icon]="faPinterest"></fa-icon>
      </div>
    </div>
  </div>
</footer>
