<section>
  <div class="one">
    <h3>OUR ADDRESS</h3>
    <p>HOUSE #13, STREAT ROAD, SYDNEY 2310 AUSTRALIA</p>
    <h3>CALL US</h3>
    <p>+ 880 168 109 1425</p>
    <p>+ 0216809142</p>
    <h3>EMAIL US</h3>
    <p>CONTACTUS@EMAIL.COM</p>
  </div>
  <form>
    <input class="input-textarea" type="text" placeholder="Name" />
    <input class="input-textarea" type="text" placeholder="Email" />
    <textarea class="input-textarea" rows="6" placeholder="Message"></textarea>
    <button>Send Message</button>
  </form>
</section>
