<section>
  <div class="title-div">
    <h3><strong>WHY CHOOSE US?</strong></h3>
    <p>
        Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit,
    </p>
  </div>
  <div style="grid-area: one">
    <div class="fa-bg">
      <fa-icon class="fa" [icon]="faSeedling"></fa-icon>
    </div>
    <p class="title"><strong>WE DELIVER QUALITY</strong></p>
    <p>
      Cum sociis natoque penatibus et magnis dis parturient montes. Etiam
      elementum laoreet mauris. Ut rutrum feugiat neque.
    </p>
  </div>
  <div style="grid-area: two">
    <div class="fa-bg">
      <fa-icon class="fa" [icon]="faStopwatch"></fa-icon>
    </div>
    <p class="title"><strong>ALWAYS ON TIME</strong></p>
    <p>
      Etiam elementum laoreet mauris. Ut rutrum feugiat neque. Cum sociis
      natoque penatibus et magnis dis parturient montes.
    </p>
  </div>
  <div style="grid-area: three">
    <div class="fa-bg">
      <fa-icon class="fa" [icon]="faUsers"></fa-icon>
    </div>
    <p class="title"><strong>PROFESSIONAL SERVICES</strong></p>
    <p>
      Ut rutrum feugiat neque. Etiam elementum laoreet mauris. Cum sociis
      natoque penatibus et magnis dis parturient montes.
    </p>
  </div>
  <div style="grid-area: four">
    <div class="fa-bg">
      <fa-icon class="fa" [icon]="faChartLine"></fa-icon>
    </div>
    <p class="title"><strong>FREE SUPPORT</strong></p>
    <p>
      Cum sociis natoque penatibus et magnis dis parturient montes. Etiam
      elementum laoreet mauris. Ut rutrum feugiat neque.
    </p>
  </div>
</section>
