@import "colors";

section {
  padding: 8em 2em;
  color: black;
  background-color: $bg-color;
  display: grid;
  row-gap: 2em;
  column-gap: 5em;  
  justify-content: center;
  grid-template-columns: 350px;
  grid-template-areas:
    "one"
    "two";

  .one {
    grid-area: one;
    width: 100%;

    img {
      width: 100%;
      height: auto;
    }
  }

  .two {
    grid-area: two;
    width: 100%;

    h2 {
      padding-left: 1em;
      color: #797979;
      border-left: 5px solid $primary-color;
    }

    p {
      padding-top: 4em;
      padding-bottom: 1em;
    }
  }

  @media (min-width: 576px) {
    grid-template-columns: 400px;
  }

  @media (min-width: 768px) {
    grid-template-columns: 450px;
  }

  @media (min-width: 980px) {
    grid-template-columns: 350px 350px;
    grid-template-areas:
      "one   two";
  }

  @media (min-width: 1280px) {
    grid-template-columns: 400px 400px;
  }

  @media (min-width: 1680px) {
    grid-template-columns: 450px 450px;
  }
}
