<section>
  <div class="one">
    <img src="./../../../../../assets/bino/stab1.png" alt="">
  </div>
  <div class="two">
    <h2>OUR HISTORY</h2>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Error quis culpa molestiae consequatur et itaque corrupti rem porro praesentium unde quae perspiciatis fugit dolore natus voluptas nemo accusantium sequi omnis tenetur eum, consectetur vel illo. Eaque quia sunt, delectus corrupti neque, eum, quisquam iusto aut vero doloremque quasi temporibus sint?
    </p>
  </div>
</section>