<section>
  <h3 style="grid-area: title">FEATURES</h3>
  <div style="grid-area: one" class="content">
    <div class="fa-bg">
      <fa-icon class="fa" [icon]="faLeaf"></fa-icon>
    </div>
    <h4>Lorem ipsum</h4>
    <p>
      Cum sociis natoque penatibus et magnis dis parturient montes. Etiam
      elementum laoreet mauris. Ut rutrum feugiat neque.
    </p>
  </div>
  <div style="grid-area: two" class="content">
    <div class="fa-bg">
      <fa-icon class="fa" [icon]="faBurn"></fa-icon>
    </div>
    <h4>Dolor sit amet</h4>
    <p>
      Etiam elementum laoreet mauris. Ut rutrum feugiat neque. Cum sociis natoque
      penatibus et magnis dis parturient montes.
    </p>
  </div>
  <div style="grid-area: three" class="content">
    <div class="fa-bg">
      <fa-icon class="fa" [icon]="faBroom"></fa-icon>
    </div>
    <h4>Tempus eleifend</h4>
    <p>
      Ut rutrum feugiat neque. Etiam elementum laoreet mauris. Cum sociis natoque
      penatibus et magnis dis parturient montes.
    </p>
  </div>
  <div style="grid-area: four" class="content">
    <div class="fa-bg">
      <fa-icon class="fa" [icon]="faComment"></fa-icon>
    </div>
    <h4>Pellentesque</h4>
    <p>
      Cum sociis natoque penatibus et magnis dis parturient montes. Etiam
      elementum laoreet mauris. Ut rutrum feugiat neque.
    </p>
  </div>
</section>
