<section>
  <h3>GALLERY</h3>
  <div style="grid-area: one">
    <div class="img-div">
      <img
        src="./../../../../../assets/interact/portfolio/01-small.jpg"
        alt=""
      />
      <div class="fa-overlay">
        <p>LOREM IPSUM</p>
      </div>
    </div>
  </div>
  <div style="grid-area: two">
    <div class="img-div">
      <img
        src="./../../../../../assets/interact/portfolio/02-small.jpg"
        alt=""
      />
      <div class="fa-overlay">
        <p>DOLOR SIT AMET</p>
      </div>
    </div>
  </div>
  <div style="grid-area: three">
    <div class="img-div">
      <img
        src="./../../../../../assets/interact/portfolio/03-small.jpg"
        alt=""
      />
      <div class="fa-overlay">
        <p>EXPLICABO CULPA</p>
      </div>
    </div>
  </div>
  <div style="grid-area: four">
    <div class="img-div">
      <img
        src="./../../../../../assets/interact/portfolio/04-small.jpg"
        alt=""
      />
      <div class="fa-overlay">
        <p>VOLUPTATES VELIT</p>
      </div>
    </div>
  </div>
  <div style="grid-area: five">
    <div class="img-div">
      <img
        src="./../../../../../assets/interact/portfolio/05-small.jpg"
        alt=""
      />
      <div class="fa-overlay">
        <p>ALIAS ALIQUAM</p>
      </div>
    </div>
  </div>
  <div style="grid-area: six">
    <div class="img-div">
      <img
        src="./../../../../../assets/interact/portfolio/06-small.jpg"
        alt=""
      />
      <div class="fa-overlay">
        <p>TEMPORIBUS VEL</p>
      </div>
    </div>
  </div>
  <div style="grid-area: seven">
      <div class="img-div">
        <img
          src="./../../../../../assets/interact/portfolio/07-small.jpg"
          alt=""
        />
        <div class="fa-overlay">
          <p>TEMPORIBUS VEL</p>
        </div>
      </div>
    </div>
    <div style="grid-area: eight">
        <div class="img-div">
          <img
            src="./../../../../../assets/interact/portfolio/08-small.jpg"
            alt=""
          />
          <div class="fa-overlay">
            <p>TEMPORIBUS VEL</p>
          </div>
        </div>
      </div>
      <div style="grid-area: nine">
          <div class="img-div">
            <img
              src="./../../../../../assets/interact/portfolio/09-small.jpg"
              alt=""
            />
            <div class="fa-overlay">
              <p>TEMPORIBUS VEL</p>
            </div>
          </div>
        </div>
</section>
