<section>
    <h2 style="grid-area: title">GREAT INTEGRATIONS WITH OTHERS</h2>
    <p class="body">
        Suspendisse sed eros mollis, tincidunt felis eget, interdum erat. Nullam sit amet odio eu est aliquet euismod a a urna. Proin eu urna suscipit, dictum quam nec.
    </p>
  <div class="card" style="grid-area: one">
    <img
      src="./../../../../../assets/bino/clogo1.png"
      alt=""
    />
  </div>
  <div class="card" style="grid-area: two">
    <img
      src="./../../../../../assets/bino/clogo2.png"
      alt=""
    />
  </div>
  <div class="card" style="grid-area: three">
    <img
      src="./../../../../../assets/bino/clogo3.png"
      alt=""
    />
  </div>
  <div class="card" style="grid-area: four">
    <img
      src="./../../../../../assets/bino/clogo4.png"
      alt=""
    />
  </div>
  <div class="card" style="grid-area: five">
    <img
      src="./../../../../../assets/bino/clogo5.png"
      alt=""
    />
  </div>
  <div class="card" style="grid-area: six">
    <img
      src="./../../../../../assets/bino/clogo6.png"
      alt=""
    />
  </div>
  <div class="card" style="grid-area: seven">
    <img
      src="./../../../../../assets/bino/clogo5.png"
      alt=""
    />
  </div>
  <div class="card" style="grid-area: eight">
    <img
      src="./../../../../../assets/bino/clogo8.png"
      alt=""
    />
  </div>
</section>
