<section>
    <h2 style="grid-area: title">OUR PRICING</h2>
    <p class="body">
      A 30 days free trial for all. A brief story about how this process works, keep an eye till the end.
    </p>
  <div class="card" style="grid-area: one">
    <img
      src="./../../../../../assets/bino/clogo1.png"
      alt=""
    />
  </div>
  <div class="card" style="grid-area: two">
    <img
      src="./../../../../../assets/bino/clogo2.png"
      alt=""
    />
  </div>
  <div class="card" style="grid-area: three">
    <img
      src="./../../../../../assets/bino/clogo3.png"
      alt=""
    />
  </div>
  <div class="card" style="grid-area: four">
    <img
      src="./../../../../../assets/bino/clogo4.png"
      alt=""
    />
  </div>
  <div class="card" style="grid-area: five">
    <img
      src="./../../../../../assets/bino/clogo5.png"
      alt=""
    />
  </div>
  <div class="card" style="grid-area: six">
    <img
      src="./../../../../../assets/bino/clogo6.png"
      alt=""
    />
  </div>
  <div class="card" style="grid-area: seven">
    <img
      src="./../../../../../assets/bino/clogo5.png"
      alt=""
    />
  </div>
  <div class="card" style="grid-area: eight">
    <img
      src="./../../../../../assets/bino/clogo8.png"
      alt=""
    />
  </div>
</section>
