@import "colors";

section {
  text-align: center;
  padding: 4em 0;
  color: black;
  background-color: $bg-color;

  display: grid;
  align-items: center;
  justify-content: center;

  grid-gap: 2em;
  grid-template-columns: repeat(2, 200px);
  grid-template-areas:
    "title    title"
    "body     body"
    "one      two"
    "three    four"
    "five     six"
    "seven    eight";

  h2 {
    color: #797979;
  }

  .body {
    grid-area: body;
    padding-top: 1.5em;
    padding-bottom: 3em;
  }

  .card {
    height: 150px;
    width: 100%;
    background: white;
    display: grid;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 11px rgba(33, 33, 33, 0.2);
  }

  img {
    width: 100%;
    height: auto;
  }

  @media (min-width: 768px) {
    grid-template-columns: repeat(2, 250px);
  }

  @media (min-width: 980px) {
    grid-template-columns: repeat(4, 200px);
    grid-template-areas:
      "title    title  title   title"
      "body     body   body    body"
      "one      two    three   four"
      "five     six    seven   eight";
  }

  @media (min-width: 1280px) {
    grid-template-columns: repeat(4, 250px);
    grid-template-areas:
      "title    title  title   title"
      "body     body   body    body"
      "one      two    three   four"
      "five     six    seven   eight";
  }

  @media (min-width: 1680px) {
    grid-template-columns: repeat(4, 275px);
  }
}
