<section>
  <div class="title-div">
    <h3><strong>MADE WITH LOVE</strong></h3>
    <p>
        Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit,
    </p>
  </div>
  <img style="grid-area: one" src="./../../../../../assets/construction/highligh_img.jpg" alt="">
  <img style="grid-area: two" src="./../../../../../assets/construction/portfolio1.jpg" alt="">
  <img style="grid-area: three" src="./../../../../../assets/construction/portfolio2.jpg" alt="">
  <img style="grid-area: four" src="./../../../../../assets/construction/portfolio3.jpg" alt="">
  <img style="grid-area: five" src="./../../../../../assets/construction/portfolio4.jpg" alt="">
</section>
