@import "./../../1-page/colors.scss";

section {
  padding: 6em 2em;
  color: black;

  background: linear-gradient(rgba(255, 203, 15, 0.6), rgba(255, 203, 15, 0.6)),
    url('./../../../../../assets/construction/portfolio_bg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  display: grid;
  justify-content: center;
  grid-gap: 1em;
  grid-template-columns: repeat(2, minmax(auto, 350px));
  grid-template-rows: repeat(5, 250px);
  grid-template-areas: 
      "title        title"
      "one          one"
      "one          one"
      "two          three"
      "four         five";

  .title-div {
    align-self: center;
    grid-area: title;
    text-align: center;
    width: 100%;
    color: white;

    h3 {
      justify-self: center;
    }

    p {
      font-size: 0.9rem;
      width: 90%;
      margin: 0 auto;
      padding-top: 2em;

      @media (min-width: 980px) {
        width: 75%;
      }
    }
  }

  img {
    width: 100%;
    height: 100%;
    transition: all 0.4s;
  }

  @media (min-width: 980px) {
    grid-template-columns: repeat(4, 225px);
    grid-template-rows: repeat(3, 200px);
    grid-template-areas: 
      "title        title       title        title"
      "one          one         two          three"
      "one          one         four         five";    
  } 
  
  @media (min-width: 1280px) {
    grid-template-columns: repeat(4, 300px);
    grid-template-rows: repeat(3, 250px);
  }
}
