header {
  text-align: center;
  height: 50vh;
  color: white;
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url('./../../../../../assets/bino/homebg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  h2 {
    padding: 0.5em 0 1.5em 0;
  }

  p {
    grid-area: body;
    padding-top: 1em;
    padding-bottom: 3em;
    width: 90%;

    @media (min-width: 980px) {
      width: 80%;
    }

    @media (min-width: 1280px) {
      width: 60%;
    }
  }

  .button {
    font-weight: 900;
    margin: 1em;
    padding: 1em 0;
    width: 15em;
    color: white;
    
    transition: 0.3s ease-in;

    &:hover {
      background-color: white;
      border-color: white;
      color: #e74c3c;
    }
  }

  #orange-button {
    background-color: #e74c3c;
    border: 1px solid #e74c3c;
    @extend .button;
  }

  #transparent-button {
    background-color: transparent;
    border: 1px solid white;
    @extend .button;
  }

  @media (min-width: 768px) {
    height: 100vh;
  }
}