<header>
  <h4>Our Clients Are Our First Priority</h4>
  <h1>WELCOME TO BINO</h1>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis ab
    minima pariatur perferendis, aliquid numquam atque harum at dolor sit
    reiciendis eos odit quis debitis quos fuga explicabo, nobis ducimus unde
    iure quod cumque! Rem amet ea nisi quibusdam necessitatibus!
  </p>
  <div style="display: flex">
    <button id="orange-button">GET STARTED NOW</button>
    <button id="transparent-button">LEARN MORE</button>
  </div>
</header>
