<section>
  <div style="grid-area: one">
    <div class="fa-bg">
      <div class="fa-border"></div>
      <fa-icon class="fa" [icon]="faCopy"></fa-icon>
    </div>
    <h3>SLEEK DESIGN</h3>
    <p>
      Cum sociis natoque penatibus et magnis dis parturient montes. Etiam
      elementum laoreet mauris. Ut rutrum feugiat neque.
    </p>
  </div>
  <div style="grid-area: two">
    <div class="fa-bg">
      <div class="fa-border"></div>
      <fa-icon class="fa" [icon]="faCode"></fa-icon>
    </div>
    <h3>CLEAN CODE</h3>
    <p>
      Etiam elementum laoreet mauris. Ut rutrum feugiat neque. Cum sociis
      natoque penatibus et magnis dis parturient montes.
    </p>
  </div>
  <div style="grid-area: three">
    <div class="fa-bg">
      <div class="fa-border"></div>
      <fa-icon class="fa" [icon]="faLightbulb"></fa-icon>
    </div>
    <h3>CREATIVE IDEAS</h3>
    <p>
      Ut rutrum feugiat neque. Etiam elementum laoreet mauris. Cum sociis
      natoque penatibus et magnis dis parturient montes.
    </p>
  </div>
  <div style="grid-area: four">
    <div class="fa-bg">
      <div class="fa-border"></div>
      <fa-icon class="fa" [icon]="faComments"></fa-icon>
    </div>
    <h3>FREE SUPPORT</h3>
    <p>
      Cum sociis natoque penatibus et magnis dis parturient montes. Etiam
      elementum laoreet mauris. Ut rutrum feugiat neque.
    </p>
  </div>
</section>
