<section>
  <h2 style="grid-area: title">What Our Clients Say</h2>
  <img
    style="grid-area: one-image"
    src="./../../../../../assets/sports/logo-1.png"
    alt=""
  />
  <p style="grid-area: one-body">
    Cum sociis natoque penatibus et magnis dis parturient montes. Etiam
    elementum laoreet mauris. Ut rutrum feugiat neque.
  </p>
  <img
    style="grid-area: two-image"
    src="./../../../../../assets/sports/logo-2.png"
    alt=""
  />
  <p style="grid-area: two-body">
    Etiam elementum laoreet mauris. Ut rutrum feugiat neque. Cum sociis natoque
    penatibus et magnis dis parturient montes.
  </p>
  <img
    style="grid-area: three-image"
    src="./../../../../../assets/sports/logo-3.png"
    alt=""
  />
  <p style="grid-area: three-body">
    Ut rutrum feugiat neque. Etiam elementum laoreet mauris. Cum sociis natoque
    penatibus et magnis dis parturient montes.
  </p>
  <img
    style="grid-area: four-image"
    src="./../../../../../assets/sports/logo-4.png"
    alt=""
  />
  <p style="grid-area: four-body">
    Cum sociis natoque penatibus et magnis dis parturient montes. Etiam
    elementum laoreet mauris. Ut rutrum feugiat neque.
  </p>
</section>
