@import "./../../1-page/colors.scss";

section {
  padding: 3em 2em;
  color: black;
  background-color: #fedb5d;
  
  display: grid;
  row-gap: 3em;
  column-gap: 2em;
  justify-content: center;
  grid-template-columns: auto;
  grid-template-areas:
    "one"
    "two";

  .one {
    grid-area: one;
    width: 100%;
    text-align: center;

    h3:nth-child(1) {
      padding-bottom: 0.5em;
    }

    @media (min-width: 980px) {
      text-align: end;
    }
  }

  form {
    grid-area: two;
    width: 100%;

    * {
      border-radius: 10px;
    }

    display: grid;
    grid-gap: 1em;
    grid-template-columns: repeat(4, minmax(auto, 175px));
    grid-template-areas:
      "name       name       email      email"
      "message    message    message    button";

    @media (min-width: 980px) {
      grid-template-columns: repeat(4, minmax(auto, 125px));
    }

    input {
      width: 100%;
      padding: 1em 0;

      font-size: 1rem;
      text-indent: 10px;

      background-color: #fff;
      border: 1px solid #fff;
    }

    button {
      grid-area: button;
      width: 100%;
      height: 100%;
      background-color: #73757e;
      border: 2px solid #73757e;
      color: white;
      font-weight: 900;
      font-size: 1.1rem;
      transition: 0.2s ease-in;

      &:hover {
        background-color: darken($color: #73757e, $amount: 15%);
        border-color: darken($color: #73757e, $amount: 15%);
      }
    }
  }

  @media (min-width: 980px) {
    grid-template-columns: minmax(350px, 500px) minmax(400px, 500px);
    grid-template-areas: "one   two";
  }

  @media (min-width: 1280px) {
    column-gap: 5em;
  }
}
