@import "fonts";
@import "colors";

section {
  text-align: center;
  padding: 4em 0;
  color: black;

  background-color: $bg-color;

  display: grid;
  justify-content: center;
  column-gap: 2em;
  row-gap: 1em;
  grid-template-columns: repeat(4, 80px);
  grid-template-areas:
    "title          title         title         title"
    "body           body          body          body"
    "one-image      one-image     two-image     two-image"
    "one-title      one-title     two-title     two-title"
    "one-body       one-body      two-body      two-body"
    "three-image    three-image   four-image    four-image"
    "three-title    three-title   four-title    four-title"
    "three-body     three-body    four-body     four-body";

  * {
    justify-self: center;
  }

  .body {
    grid-area: body;
    padding-bottom: 3em;
    width: 90%;
  }

  h4 {
    color: $primary-color;
  }

  img {
    width: 100%;
    height: auto;
    transition: transform 0.3s;
    &:hover { 
    }
  }

  @media (min-width: 768px) {
    grid-template-columns: repeat(4, 100px);
  }

  @media (min-width: 980px) {
    grid-template-columns: repeat(4, 125px);
    grid-template-areas:
    "title          title        title         title"
    "body           body         body          body"
    "one-image      two-image    three-image   four-image"
    "one-title      two-title    three-title   four-title"
    "one-body       two-body     three-body    four-body";
  }

  @media (min-width: 1280px) {
    grid-template-columns: repeat(4, 150px);
  }
}