<section>
  <h3 style="grid-area: title">MEET THE TEAM</h3>
  <p class="body">
    Etiam elementum laoreet mauris. Ut rutrum feugiat neque. Suspendisse viverra
    gravida nulla. Duis sed enim vitae metus nonummy venenatis. Curabitur semper
    rutrum sapien. Mauris luctus.
  </p>
  <img
    style="grid-area: one-image"
    src="./../../../../../assets/composite/member1.jpg"
    alt=""
  />
  <h4 style="grid-area: one-title">TRACY</h4>
  <p style="grid-area: one-body">
    DESIGNER
  </p>
  <img
    style="grid-area: two-image"
    src="./../../../../../assets/composite/member2.jpg"
    alt=""
  />
  <h4 style="grid-area: two-title">MARY</h4>
  <p style="grid-area: two-body">
    DEVELOPER
  </p>
  <img
    style="grid-area: three-image"
    src="./../../../../../assets/composite/member3.jpg"
    alt=""
  />
  <h4 style="grid-area: three-title">JULIA</h4>
  <p style="grid-area: three-body">
    DIRECTOR
  </p>
  <img
    style="grid-area: four-image"
    src="./../../../../../assets/composite/member4.jpg"
    alt=""
  />
  <h4 style="grid-area: four-title">LINDA</h4>
  <p style="grid-area: four-body">
    MANAGER
  </p>
</section>
