@import "./../../1-page/colors.scss";

section {
  text-align: center;
  padding: 4em 2em;
  background-color: $bg-color;

  display: grid;
  justify-content: center;
  column-gap: 2em;
  grid-template-rows: auto auto 3em auto 3em auto;
  grid-template-columns: minmax(auto, 370px);
  grid-template-areas:
      "title"
      "one"
      "."
      "two"
      "."
      "three";

  h3 {
    position: relative;
    margin-bottom: 100px;

    &:after {
      content: "";
      height: 5px;
      width: 50px;
      background-color: $primary-color;

      position: absolute;
      bottom: -50px;
      left: 50%;
      transform: translateX(-50%);
    }
  }

  .content {
    
    h4 {
      padding-top: 2.5em;
      padding-bottom: 2em;
    }

    &:hover {
      .fa-bg {
        background-image: none;
        background-color: #6372ff;
      }
    }
  }

  @media (min-width: 768px) {
    column-gap: 5em;
    grid-template-rows: auto auto 5em auto;
    grid-template-columns: repeat(2, 280px);
    grid-template-areas:
      "title      title"
      "one        two"
      ".          ."
      "three      three";
  }

  @media (min-width: 980px) {
    column-gap: 3em;
    grid-template-rows: auto;
    grid-template-columns: repeat(3, minmax(auto, 370px));
    grid-template-areas:
      "title          title        title"
      "one            two          three";
  }

  @media (min-width: 1280px) {
    column-gap: 5em;
  }
}
