<section>
  <h3 style="grid-area: title">WHAT WE DO</h3>
  <div style="grid-area: one" class="content">
    <img src="./../../../../../assets/ubutia/graphic-design.png" alt="" />
    <h4>GRAPHIC DESIGN</h4>
    <p>
      We provide the best grapich design for individual or coporate business
      purpose, also communication design, practice of planning and projecting
      ideas and experiences with visual eye.
    </p>
  </div>
  <div style="grid-area: two" class="content">
    <img src="./../../../../../assets/ubutia/webdevelopment.png" alt="" />
    <h4>WEB DEVELOPMENT</h4>
    <p>
      We provide the best web development service for any personal or coporate
      project with great sulutions on demand, and we also use moderm web
      technology as well.
    </p>
  </div>
  <div style="grid-area: three" class="content">
    <img src="./../../../../../assets/ubutia/printing.png" alt="" />
    <h4>PRINTING DESIGN</h4>
    <p>
      We provide the best service with high-quality printing design and
      cost-effective printing for any business purpose.
    </p>
  </div>
</section>
