<section>
  <h2>OUR AMAZING TEAM</h2>
  <p class="sub-title">Lorem ipsum dolor sit amet consectetur.</p>
  <div style="grid-area: one">
    <img src="./../../../../../assets/agency/team/1.jpg" alt="">
    <p class="title"><strong>Kay Garland</strong></p>
    <p>Lead Designer</p>
    <div class="social">
      <div class="fa-bg">
        <fa-icon class="fa" [icon]="faTwitter"></fa-icon>
      </div>
      <div class="fa-bg">
        <fa-icon class="fa" [icon]="faFacebookF"></fa-icon>
      </div>
      <div class="fa-bg">
        <fa-icon class="fa" [icon]="faLinkedinIn"></fa-icon>
      </div>
    </div>
  </div>
  <div style="grid-area: two">
    <img src="./../../../../../assets/agency/team/2.jpg" alt="">
    <p class="title"><strong>Larry Parker</strong></p>
    <p>Lead Marketer</p>
    <div class="social">
      <div class="fa-bg">
        <fa-icon class="fa" [icon]="faTwitter"></fa-icon>
      </div>
      <div class="fa-bg">
        <fa-icon class="fa" [icon]="faFacebookF"></fa-icon>
      </div>
      <div class="fa-bg">
        <fa-icon class="fa" [icon]="faLinkedinIn"></fa-icon>
      </div>
    </div>
  </div>
  <div style="grid-area: three">
    <img src="./../../../../../assets/agency/team/3.jpg" alt="">
    <p class="title"><strong>Diana Pertersen</strong></p>
    <p>Lead Developer</p>
    <div class="social">
      <div class="fa-bg">
        <fa-icon class="fa" [icon]="faTwitter"></fa-icon>
      </div>
      <div class="fa-bg">
        <fa-icon class="fa" [icon]="faFacebookF"></fa-icon>
      </div>
      <div class="fa-bg">
        <fa-icon class="fa" [icon]="faLinkedinIn"></fa-icon>
      </div>
    </div>
  </div>
</section>
