<section>
  <h3>WHAT OUR CLIENTS SAY</h3>
  <div style="grid-area: one" class="testimonial">
    <img src="./../../../../../assets/interact/testimonials/01.jpg" alt="" />
    <p class="body">
      In exercitationem accusamus, expedita ipsa fuga doloremque praesentium, ut
      debitis modi facilis aspernatur eum. Veniam laborum aliquam nihil
      voluptatibus eaque sit exercitationem.
    </p>
    <p class="author">John Doe</p>
  </div>
  <div style="grid-area: two" class="testimonial">
    <img src="./../../../../../assets/interact/testimonials/02.jpg" alt="" />
    <p class="body">
      Sed maxime autem quisquam voluptas esse ipsa natus! Quia quisquam soluta
      rem vel voluptates, laboriosam laborum, quaerat recusandae, necessitatibus
      velit enim omnis.
    </p>
    <p class="author">John Doe</p>
  </div>
  <div style="grid-area: three" class="testimonial">
    <img src="./../../../../../assets/interact/testimonials/03.jpg" alt="" />
    <p class="body">
      Similique ea, nemo placeat aperiam commodi minus adipisci ad? Laudantium,
      neque. Dignissimos repellat veniam fuga perspiciatis! Laborum voluptas
      repellendus neque aspernatur quaerat!
    </p>
    <p class="author">John Doe</p>
  </div>
  <div style="grid-area: four" class="testimonial">
    <img src="./../../../../../assets/interact/testimonials/04.jpg" alt="" />
    <p class="body">
      Amet quidem provident accusamus libero est mollitia sed ut eius incidunt
      tenetur facilis, perferendis dolorem consequuntur sequi veniam tempore
      quod nesciunt ab.
    </p>
    <p class="author">John Doe</p>
  </div>
  <div style="grid-area: five" class="testimonial">
    <img src="./../../../../../assets/interact/testimonials/05.jpg" alt="" />
    <p class="body">
      Sint a et cum similique ut fugiat, dolor, exercitationem rerum illo facere
      incidunt, cupiditate aperiam pariatur quasi vel voluptatem nam commodi
      magnam.
    </p>
    <p class="author">John Doe</p>
  </div>
  <div style="grid-area: six" class="testimonial">
    <img src="./../../../../../assets/interact/testimonials/06.jpg" alt="" />
    <p class="body">
      Distinctio aliquid quo est excepturi. Libero odit autem vero doloribus,
      deserunt sint rerum atque quis cumque doloremque possimus et facere eius
      ratione.
    </p>
    <p class="author">John Doe</p>
  </div>
</section>
