<section>
  <div class="fa-bg">
    <fa-icon class="fa" [icon]="faFeatherAlt"></fa-icon>
  </div>
  <div class="fa-bg">
    <fa-icon class="fa" [icon]="faFillDrip"></fa-icon>
  </div>
  <div class="fa-bg">
    <fa-icon class="fa" [icon]="faCameraRetro"></fa-icon>
  </div>
  <div class="one">
    <div class="content">
      <h2>SERVICES</h2>
      <p class="title">WEB DESIGN</p>

      <p class="body">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit quae rerum
        odit voluptas neque, commodi est aliquam vel perferendis quo iure dicta
        exercitationem corrupti ipsa odio ipsum. Voluptas, nesciunt deserunt.
      </p>
      <p class="title">PRINT DESIGN</p>

      <p class="body">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit quae rerum
        odit voluptas neque, commodi est aliquam vel perferendis quo iure dicta
        exercitationem corrupti ipsa odio ipsum. Voluptas, nesciunt deserunt.
      </p>
      <p class="title">PHOTOGRAPHY</p>

      <p class="body">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit quae rerum
        odit voluptas neque, commodi est aliquam vel perferendis quo iure dicta
        exercitationem corrupti ipsa odio ipsum. Voluptas, nesciunt deserunt.
      </p>
    </div>
  </div>
  <div class="two">
    <img src="./../../../../../assets/bino/servicerightimg.jpg" alt="" />
  </div>
</section>
