<section>
  <h2>PORTFOLIO</h2>
  <p class="sub-title">Lorem ipsum dolor sit amet consectetur.</p>
  <div style="grid-area: one">
    <div class="img-div">
      <img src="./../../../../../assets/agency/portfolio/roundicons.jpg" alt="">
      <div class="fa-overlay">
        <fa-icon class="fa" [icon]="faEye"></fa-icon>
      </div>
    </div>
    <div class="card">
      <p class="title"><strong>Round Icons</strong></p>
      <p class="sub-title">Graphic Design</p>
    </div>
  </div>
  <div style="grid-area: two">
    <div class="img-div">
      <img src="./../../../../../assets/agency/portfolio/startup-framework.jpg" alt="">
      <div class="fa-overlay">
        <fa-icon class="fa" [icon]="faEye"></fa-icon>
      </div>
    </div>
    <div class="card">
      <p class="title"><strong>Startup Framework</strong></p>
      <p class="sub-title">Website Design</p>
    </div>
  </div>
  <div style="grid-area: three">
    <div class="img-div">
      <img src="./../../../../../assets/agency/portfolio/treehouse.jpg" alt="">
      <div class="fa-overlay">
        <fa-icon class="fa" [icon]="faEye"></fa-icon>
      </div>
    </div>
    <div class="card">
      <p class="title"><strong>Treehouse</strong></p>
      <p class="sub-title">Website Design</p>
    </div>
  </div>
  <div style="grid-area: four">
    <div class="img-div">
      <img src="./../../../../../assets/agency/portfolio/golden.jpg" alt="">
      <div class="fa-overlay">
        <fa-icon class="fa" [icon]="faEye"></fa-icon>
      </div>
    </div>  
    <div class="card">
      <p class="title"><strong>Golden</strong></p>
      <p class="sub-title">Graphic Design</p>
    </div>
  </div>
  <div style="grid-area: five">
    <div class="img-div">
      <img src="./../../../../../assets/agency/portfolio/escape.jpg" alt="">
      <div class="fa-overlay">
        <fa-icon class="fa" [icon]="faEye"></fa-icon>
      </div>
    </div>
    <div class="card">
      <p class="title"><strong>Escape</strong></p>
      <p class="sub-title">Website Design</p>
    </div>
  </div>
  <div style="grid-area: six">
    <div class="img-div">
      <img src="./../../../../../assets/agency/portfolio/dreams.jpg" alt="">
      <div class="fa-overlay">
        <fa-icon class="fa" [icon]="faEye"></fa-icon>
      </div>
    </div>
    <div class="card">
      <p class="title"><strong>Dreams</strong></p>
      <p class="sub-title">Website Design</p>
    </div>
  </div>
</section>
